.StoreList {
    max-height: 370px;
    overflow-y: auto;
    margin: .8rem 0;
}

.StoreList h5 {
    margin: .8rem 0;
}

.StoreList::-webkit-scrollbar {
    display: none;
    width: 7px;
    background-color: #F5F5F5;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}